@import "./normalize.css";

html {
  font-size: 15px;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

#app {
  margin: auto;
}

.graphs {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.forms {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
#create-receivers,
#create-aircraft {
  width: 40%;
}

#create-receivers-form,
#create-aircraft-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100%;
}

#signal-controls {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  font-family: inherit;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.btn:hover {
  background-color: #efefef;
}

.btn[type="submit"] {
  width: 100%;
}

.inpt {
  font-size: 1.7rem;
  padding: 5px 15px;
  font-family: inherit;
  background-color: transparent;
  border-radius: 5px;
}

.inpt[type="number"] {
  width: 150px;
  text-align: center;
}

.main__graphs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subst__graphs {
  display: flex;
  justify-content: space-between;
}
